.venv/
Miniforge3-Linux-x86_64.sh
Miniforge3-Linux-x86_64.sh.1
Benchmarks/TemporallyAwarePooling/model/
data/
*.log
*.pth*
*.pyc
__pycache__/
*.wandb
wandb/
.vscode/
outputs/
requirements.txt

*.yml*
*.zip
*.tar.gz
.DS_Store